body {text-shadow: 2px 2px 5px white;}
#grad {background-image: linear-gradient(purple, white);}
.navbar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 1px;
  text-align: center;
  justify-content: space-around;
}
.navbar >li{
  font-size: 20px;
  padding: 1px;
  text-align: center;
  border: 2px solid black;
  flex: 1;

}
li a{
text-decoration: none;
}
li {
  list-style: none;
}
